*{
  margin: 0;
  padding: 0;
}
.flex-container{
        display: flex;
        width: 100%;
    }
    .olx_logo{
      margin-top: 10px;
      padding-top: 15px;
      padding-right: 20px;
      padding-left: 20px;
      font-size: 30px;
    }
    .icons {
      margin: 10px;
      padding-top: 20px;
      font-size: 20px;
    }
    /* search bars */
    input[type=text_a] {
width: 250px;
box-sizing: border-box;
border: 2px solid rgb(10, 10, 10);
border-radius: 4px;
font-size: 16px;
background-color: white;
background-image: url('./images/searchicon.png');
background-position: 10px 10px; 
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
}

input[type=text_a]:focus {
width: 100%;
}
       
input[type=text_b] {
width: 780px;
box-sizing: border-box;
border: 2px solid rgb(10, 10, 10);
border-radius: 4px;
font-size: 16px;
background-color: white;
background-image: url('./images/searchicon.png');
background-position: 10px 10px; 
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
}

input[type=text_b]:focus {
width: 100%;
}
.bar_a{
margin-top: 10px;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
padding: 10px;
}
.bar{
margin-top: 10px;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
padding: 10px;
}
.search{
width: 100%;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
.search {
flex-direction: column;
width: 100%;
}
input[type=text_b]{
  width: 250px;
}
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
.btn {
display: none;
}
.sel {
 text-align: center;
 position: -webkit-sticky; /* Safari */
 position: sticky;
 top: 0;

}
}
.sell{
  position: absolute;
  text-align: center;
  padding-top: 15px;
  padding-left: 25px;
}
.btn{
  padding-top: 30px;
  padding-left: 5px;
}
.sel{
  margin-top: 20px;
  margin-left: 10px;
}
.Categories ul li{
  list-style: none;
  
}


/* catagories */
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
color: black;
background-color: white;
border: none;
border-radius: 5px;

}

li {
float: left;
}

li a, .dropbtn {
display: inline-block;
color: black;
text-align: center;
padding-left:16px;
padding-right:16px;
text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
background-color: white;
}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding-left:16px;
padding-right:16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
display: block;
}
.Categories{
margin-left: 10px;
margin-top:10px;
margin-bottom: 10px;
}
.item{
  margin: 10px;
}
.item2{
  margin: 10px;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
.item2 {
display: none;
}
.item{
display: none;
}
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
.banner{
width: 300px;
}
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
.product {
flex-direction: column;
width: 100%;
padding: 15px;

}
}
.fresh{
  margin: 20px;
}
.product{
margin-right: 20px;
margin-top: 10px;
margin-left: 10px;

}
.footer{
    background-color: lightgray;
    margin-top: 30px;
}
.footer a{
  color: black;
  
}
.footer{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.popular{
  width: 300px;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.about{
  width: 300px;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.follow{
  width: 300px;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .footer {
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 15px;
  }
  }